<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zte.msm.datamanager.publicserver.access.dao.UserMapper">


  <resultMap id="BaseResultMap" type="com.zte.msm.datamanager.publicserver.access.vo.UserVO">
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="ACCOUNT" jdbcType="VARCHAR" property="account" />
    <result column="PWD" jdbcType="VARCHAR" property="pwd" />
    <result column="TOKEN" jdbcType="VARCHAR" property="token" />
    <result column="ENCKEY" jdbcType="VARCHAR" property="enckey" />
    <result column="ENCIV" jdbcType="VARCHAR" property="enciv" />
    <result column="EFFECTIVE_DATE" jdbcType="TIMESTAMP" property="effectiveDate" />
    <result column="EXPIRATION_DATE" jdbcType="TIMESTAMP" property="expirationDate" />
    <result column="EMAIL" jdbcType="VARCHAR" property="email" />
    <result column="MOBILE_NO" jdbcType="VARCHAR" property="mobileNo" />
    <result column="CREATED_BY" jdbcType="DECIMAL" property="createdBy" />
    <result column="CREATED_DATE" jdbcType="TIMESTAMP" property="createdDate" />
    <result column="LAST_UPDATED_BY" jdbcType="DECIMAL" property="lastUpdatedBy" />
    <result column="LAST_UPDATED_DATE" jdbcType="TIMESTAMP" property="lastUpdatedDate" />
    <result column="ENABLE_FLAG" jdbcType="VARCHAR" property="enableFlag" />
    <result column="ORG_ID" jdbcType="DECIMAL" property="orgId" />
  </resultMap>


  <sql id="Base_Column_List">
    ID, NAME, ACCOUNT, PWD, TOKEN, ENCKEY, ENCIV, EFFECTIVE_DATE, EXPIRATION_DATE, EMAIL,
    MOBILE_NO,
    CREATED_BY, CREATED_DATE, LAST_UPDATED_BY, LAST_UPDATED_DATE, ENABLE_FLAG,
    ORG_ID
  </sql>

  <select id="getList" parameterType="java.util.Map" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from ECC_DEMO.FRM_USER
    <if test="id != null"> and ID = #{id}</if>
    <if test="account != null and account != ''"> and ACCOUNT = #{account}</if>

    <if test="orderField != null">
      <choose>
        <when test="orderField=='id'">
          order by ID
          <if test="order != null and order == 'desc'"> desc </if>
        </when>
        <when test="orderField=='account'">
          order by ACCOUNT
          <if test="order != null and order == 'desc'"> desc </if>
        </when>
      </choose>
    </if>
  </select>

  <select id="get" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from ECC_DEMO.FRM_USER
    where ID = #{id,jdbcType=DECIMAL}
  </select>


  <delete id="delete" parameterType="java.lang.Long">
    delete from ECC_DEMO.FRM_USER
    where ID = #{id,jdbcType=DECIMAL}
  </delete>


  <insert id="insert" parameterType="com.zte.msm.datamanager.publicserver.access.vo.UserVO">
    <selectKey keyProperty="id" resultType="java.lang.Long" order="BEFORE">
      select frm_user_s.nextval as id from dual
    </selectKey>
    insert into ECC_DEMO.FRM_USER (ID, NAME, ACCOUNT,
    PWD, TOKEN, ENCKEY,
    ENCIV,
    EFFECTIVE_DATE, EXPIRATION_DATE,
    EMAIL,
    MOBILE_NO, CREATED_BY,
    CREATED_DATE,   ORG_ID)
    values
    (#{id}, #{name,jdbcType=VARCHAR}, #{account,jdbcType=VARCHAR},
    #{pwd,jdbcType=VARCHAR},
    #{token,jdbcType=VARCHAR}, #{enckey,jdbcType=VARCHAR},
    #{enciv,jdbcType=VARCHAR},
    #{effectiveDate,jdbcType=TIMESTAMP}, #{expirationDate,jdbcType=TIMESTAMP},
    #{email,jdbcType=VARCHAR},
    #{mobileNo,jdbcType=VARCHAR}, #{createdBy,jdbcType=DECIMAL},
    sysdate,
    #{orgId,jdbcType=DECIMAL})
  </insert>

  <update id="update" parameterType="com.zte.msm.datamanager.publicserver.access.vo.UserVO">
    update ECC_DEMO.FRM_USER
    <set>
      <if test="name != null">
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="account != null">
        ACCOUNT = #{account,jdbcType=VARCHAR},
      </if>
      <if test="pwd != null">
        PWD = #{pwd,jdbcType=VARCHAR},
      </if>
      <if test="token != null">
        TOKEN = #{token,jdbcType=VARCHAR},
      </if>
      <if test="enckey != null">
        ENCKEY = #{enckey,jdbcType=VARCHAR},
      </if>
      <if test="enciv != null">
        ENCIV = #{enciv,jdbcType=VARCHAR},
      </if>
      <if test="effectiveDate != null">
        EFFECTIVE_DATE = #{effectiveDate,jdbcType=TIMESTAMP},
      </if>
      <if test="expirationDate != null">
        EXPIRATION_DATE = #{expirationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="email != null">
        EMAIL = #{email,jdbcType=VARCHAR},
      </if>
      <if test="mobileNo != null">
        MOBILE_NO = #{mobileNo,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null">
        CREATED_BY = #{createdBy,jdbcType=DECIMAL},
      </if>
      <if test="createdDate != null">
        CREATED_DATE = #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdatedBy != null">
        LAST_UPDATED_BY = #{lastUpdatedBy,jdbcType=DECIMAL},
      </if>
      <if test="lastUpdatedDate != null">
        LAST_UPDATED_DATE = #{lastUpdatedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="enableFlag != null">
        ENABLE_FLAG = #{enableFlag,jdbcType=VARCHAR},
      </if>
      <if test="orgId != null">
        ORG_ID = #{orgId,jdbcType=DECIMAL},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>

</mapper>