<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<!--  
	<typeAliases>
		<typeAlias alias="testtype" type="com.zte.frame.manage.menu.Menu" />
	</typeAliases>
	-->
  <plugins>
    <!-- com.github.pagehelper为PageHelper类所在包名 -->
    <plugin interceptor="com.github.pagehelper.PageInterceptor">
        <!-- 使用下面的方式配置参数，后面会有所有的参数介绍 
        <property name="supportMethodsArguments" value="true"/>
        <property name="params" value="pageNum=pageNum;pageSize=pageSize;"/>-->
    </plugin>
  </plugins>
	<mappers>
	  
		<!-- 不需要在这里添加mybatis配置文件，SPIRNG配置文件里面配置了自动扫描		
		<mapper resource="com/zte/frame/manage/role/Role-Mapper.xml" />
		<mapper resource="com/zte/frame/manage/user/User-Mapper.xml" />
		 -->
		
	</mappers>
</configuration>